<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBWMMGM');</script>
<!-- End Google Tag Manager -->
    
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booktopy</title>
<meta name="author" content="Booktopy">
<meta name="description" content="Booktopy es una pagina que da acceso a cualquier libro por un pequeño precio.">

<meta name="geo.region" content="PE-LIM">
<meta name="geo.placename" content="Villa El Salvador, Lima">
<meta name="geo.position" content="-12.2100;-76.9370">
<meta name="ICBM" content="-12.2100, -76.9370">
<meta property="og:image" content="https://i.postimg.cc/X7qNvkDk/booktopy.png">
<meta property="og:title" content="Booktopy">
<meta property="og:description" content="Una pagina para comprar libros online de forma segura.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://f1lixsp.github.io/PruebaPY/">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Añadir estos estilos inline para asegurar que se apliquen */
        body {
            background-color: #737473 !important;
        }
        .container {
            background-color: transparent;
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBWMMGM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
